<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Fake Apps{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
                
                {% block stylesheets %}
                    <link href="{{ asset('css/normalize.css') }}" type="text/css" rel="stylesheet" />
                    <link href="{{ asset('css/font-face.css') }}" type="text/css" rel="stylesheet" />
                    <link href="{{ asset('css/color-schemes/dark/hot-pink.css') }}" type="text/css" rel="stylesheet" />
                    <link href="{{ asset('css/typography.css') }}" type="text/css" rel="stylesheet" />
                    <link href="{{ asset('css/font-awesome.css') }}" type="text/css" rel="stylesheet" />
                    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
                    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
                {% endblock %}
                    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
                    <link rel="shortcut icon" href="{{ asset('apple-touch-icon.png') }}" />

		<script>
			document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';
		</script><!-- Responsive images -->
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
                {% block navigation %}
                    <nav>
                            <div class="top-ribbon"></div>
                            <ul class="nav-font clearfix">
                                    <li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {% else %}
                                            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                        {% endif %}
                                    </li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li>
                                            <a href="{{ path('fake_template_template') }}">{{ 'template.templates'|trans({}, 'FakeUserBundle') }}</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('fake_template_homepage') }}">{{ 'template.home_page'|trans({}, 'FakeUserBundle') }}</a>
                                    </li>
                            </ul>
                    </nav>
                {% endblock %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for key, message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}
                {% endblock %}
                <footer class="site-footer site-footer-font">
			<div class="sparator"></div>
			<div class="contact">
				<a href="mailto:hexocat.themes@gmail.com"><i class="icon-envelope-alt"></i> hexocat.themes@gmail.com</a> &middot;
				<a href="tel:4213-45-710"><i class="icon-phone"></i> 4213-45-710</a> &middot;
				<a href="http://www.twitter.com"><i class="icon-twitter"></i> @Mori</a> &middot;
				<a href="http://www.facebook.com"><i class="icon-facebook-sign"></i> /mori.h</a>
			</div>
			<div class="copyright">Template Copyright &#64; 2012 My Story. Made by <a href="#">Hexocat</a> with <i class="icon-heart"></i></div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.8.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
